body{
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.6;
    background-image: url(white-background.jpg);
    background-repeat: repeat;
    background-color: white;
    padding: 0;
    margin: 0;
}

header{
    background-color: rgb(251, 253, 247);
    color: #f9f9f9;
    padding: 15px;
    text-align: center;
}

main{
    padding: 20px;
    max-width: 900px;
    margin: auto;
    background-color: #f9f9f9;
    border-radius: 8px;
}
h1,h2,h3{
    font-weight: bold;
    color: #003366;
}
p{
    margin-bottom: 20px;
}
a{
    color: #0000ff;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
ul{
    padding-left: 15px;
}
li{
    margin-bottom: 20px;
}
